<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>location</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Wanderpast uses your location to surface audio tours near you and to trigger narration as you reach each waypoint on a tour.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Wanderpast uses your location in the background to keep triggering tour audio as you walk between waypoints.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fraunces-Regular.ttf</string>
		<string>Fraunces-Medium.ttf</string>
		<string>Fraunces-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
